doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')

        title Syntropize
        meta(name='author', content='Rahul Gupta')
        meta(name='description', content='The Syntropize Operating Environment reimagines the Personal Computer as an Integrated Environment for your Creative Expression.')

        // Scripts
        script(src='js/scripts.js', type='module', defer)

        // Fonts
        link(href='scss/fonts.scss', rel='stylesheet')

        // Core theme CSS (includes Bootstrap)
        link(href='scss/styles.scss', rel='stylesheet')

        // Favicon
        include ../../favicons/favicons.pug


    body#page-top

        include pug/navigation.pug
        include pug/masthead.pug

        // Motivation
        section#motivation.page-section
            include pug/motivation-1.pug
            include pug/motivation-2.pug
            include pug/motivation-3.pug

        include pug/proposal.pug
        include pug/features.pug
        include pug/appeal.pug
        include pug/footer.pug

        // Discord Chat
        script(src='https://cdn.jsdelivr.net/npm/@widgetbot/crate@3', defer, crossorigin='anonymous', no-eval='true')
        script.
            document.addEventListener('DOMContentLoaded', () => {
                const crate = new Crate({
                    server: '926606041255399464',
                    channel: '926606041255399468',
                })
            });

