doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')

        title Syntropize | Documentation
        meta(name='author', content='Rahul Gupta')
        meta(name='description', content='Documentation for the Syntropize Operating Environment')

        link(rel='stylesheet', href='./styles.css')

        // Favicon
        include ../../favicons/favicons.pug

    body

        #app

        script(src="./script.js")
        script(src="npm:docsify")
        script(src="npm:docsify-corner/dist/docsify-corner.js")
        script(src="npm:docsify-pagination/dist/docsify-pagination.js")
        script(src="npm:docsify/lib/plugins/search.js")
        script(src="npm:@alertbox/docsify-footer")
        script(src="npm:docsify-copy-code")
        script(src="npm:docsify-themeable/dist/js/docsify-themeable.js")
        script(src="npm:prismjs/components/prism-bash.js")
