/* Docsify Themeable Styles */
@import "npm:docsify-themeable/dist/css/theme-simple.css";
@import "npm:docsify-themeable/dist/css/theme-simple-dark.css" (prefers-color-scheme: dark);

/* Theme Customizations */
:root {
  /* Theme Colors */
  --s-theme-color-primary: #ffd500;
  --s-theme-color-secondary: #0057b7;

  /* Docsify Theme Customization */
  --theme-color: var(--s-theme-color-secondary);
  --heading-h3-font-size: calc(var(--font-size-m)*1.55);
  --heading-h4-font-size: var(--font-size-l);
  --heading-h5-font-size: calc(var(--font-size-m)*1.15);
  --heading-h6-font-size: var(--font-size-m);
  --heading-h6-font-weight: 700;
  --sidebar-name-background: var(--s-theme-color-secondary);
  --sidebar-name-margin: 0;
  --sidebar-name-padding: 1.5rem 1rem;
  --sidebar-background: var(--base-background-color);
  --sidebar-padding: 0;
  --sidebar-nav-padding: 0 25px;
  --search-margin: 0 25px;
  --sidebar-nav-link-before-content-l3: ;
  --sidebar-nav-link-before-content-l3--active: ;
}

.app-name-link {
  display: flex;
}

.marked-inline-footnote {
  color: blue;
  font-weight: 700;
  line-height: 80%;
  background-color: lemonchiffon;
  padding: 0 2px;
  border-radius: 2px;
  cursor: pointer;
}

@media (prefers-color-scheme: dark) {
  :root {
    --theme-color: var(--s-theme-color-primary);
  }

  .github-corner svg {
    fill: var(--s-theme-color-secondary);
  }

  .marked-inline-footnote {
    color: lemonchiffon;
    background-color: darkslateblue;
  }
}
