link(rel="icon", href="/favicons/favicon.ico", sizes="any")
link(rel="icon" href="/favicons/favicon.svg" type="image/svg+xml")
link(rel="apple-touch-icon" href="/favicons/favicon-180.png")
link(rel="manifest" href="/favicons/manifest.webmanifest")
