//
// Buttons
//

// Create a new xl button variant

.btn-xl {
    padding: 1rem 2rem;
    margin: 0.5rem 0.25rem;
    font-family: $button-font-family;
    font-size: 1.25rem;
    font-weight: $button-font-weight;

    &.btn-secondary:hover {
        color: $white;
        background-color: shade-color($secondary, 20%);
        border-color: shade-color($secondary, 20%);
    }
}

@include media-breakpoint-down(md) { //
    .btn-xl {
        font-size: 1.15rem;
        padding: 0.85rem 1.5rem;
    }
}

@include media-breakpoint-down(sm) { //
    .btn-xl {
        font-size: 1.05rem;
        padding: 0.65rem 0.85rem;
    }
}
