//
// Social Media Buttons
//


$btn-colors: (
    email: #e74818,
    telegram: #229ed9,
    twitter: #1d9bf0,
    facebook: #1877f2,
    add: #30a400);

.btn-social {
    background-clip: padding-box;
    height: 44px;
    width: 44px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border-radius: 8px;
    border: 4px solid transparent;
    margin: 4px 0;

    img {
        height: 36px;
        width: 36px;
    }

    &:first-child {
        margin-left: -2px;
    }

    &:last-child {
        margin-right: -2px;
    }

    &:hover {
        border: 5px solid $gray-600;
    }

    @each $name, $color in $btn-colors {
        &__#{$name} {
            background-color: $color !important;
        }
    }
}
