//
// Glitch Filter
//
@use "sass:math";

svg.filterwrapper {
    position: absolute;
    z-index: -1;
    pointer-events: none;
    opacity: 0;
}

svg {
    .glitch {
        display: block;
        position: relative;
        min-width: 490px;
        top: -20px;
    }
}

@keyframes topani {
    // Random values pregenerated to avoid changes between builds
    $widths: (
        3%: 92px,
        9%: 152px,
        21%: 82px,
        28%: 85px,
        41%: 136px,
        53%: 39px,
        62%: 149px,
        65%: 6px,
        73%: 163px,
        81%: 121px,
        92%: 144px,
    );

    @each $time, $width in $widths {
        #{$time} {
            stroke-width: #{$width};
        }
    }
}

@keyframes botani {
    // Random values pregenerated to avoid changes between builds
    $widths: (
        3%: 62px,
        14%: 70px,
        20%: 197px,
        30%: 15px,
        36%: 159px,
        46%: 7px,
        61%: 59px,
        63%: 125px,
        76%: 164px,
        85%: 121px,
        98%: 88px,
    );

    @each $time, $width in $widths {
        #{$time} {
            stroke-width: #{$width};
        }
    }
}

@media screen and (prefers-reduced-motion: no-preference) {
    svg {
        .glitch-text {
            filter: url("#filter");
            fill: black;
        }

        .top-r,
        .bot-r,
        .top-g,
        .bot-g {
            stroke: black;
        }

        .top-r {
            stroke-width: 100px;
            animation: topani 3.5s linear infinite;
        }

        .bot-r {
            stroke-width: 100px;
            animation: botani 4s linear infinite;
        }

        .top-g {
            stroke-width: 50px;
            animation: topani 4s linear reverse infinite;
        }

        .bot-g {
            stroke-width: 50px;
            animation: botani 3.5s linear reverse infinite;
        }
    }
}
