//
// Navbar
//

#main-nav {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: $navbar-color;
    font-family: $navbar-font-family;
    font-weight: $navbar-font-weight;
    font-style: italic;

    .navbar-toggler {
        padding: 0.75rem;
        font-size: 0.75rem;
    }

    .navbar-brand {
        color: $primary;
        display: inline-flex;

        img {
            height: 1.5rem;
        }
    }

    .navbar-nav {
        .nav-item {
            .nav-link {
                margin: 0.5rem;
                padding: 2px 0 0;
                font-size: 1rem;
                color: $white;
                width: fit-content;
                text-decoration: none;
                background: linear-gradient(0deg, $white, $white) no-repeat right bottom / 0 2px;
                transition: background-size 350ms;

                &:hover, &:focus-visible {
                    background-size: 100% 2px;
                    background-position-x: left;
                }

                &.active {
                    color: $secondary;
                }
            }
        }
    }
}

// Responsive styling for screen width equal to or greater than the large breakpoint
@include media-breakpoint-up(lg) {
    #main-nav {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        border: none;
        background-color: transparent;
        transition:
            padding-top 0.3s ease-in-out,
            padding-bottom 0.3s ease-in-out;

        .navbar-brand {
            transition: font-size 0.3s ease-in-out;
            vertical-align: middle;

            img {
                height: 1.65rem;
                transition: height 0.3s ease-in-out;
            }
        }

        // Styling for when the navbar shrinks on larger screens
        &.navbar-shrink {
            padding-top: 1rem;
            padding-bottom: 1rem;
            background-color: $navbar-color;

            .navbar-brand {
                img {
                    height: 1.5rem;
                }
            }
        }

        .navbar-nav .nav-item {
            margin-right: 1rem;

            .nav-link {
                padding-left: 0;
                padding-right: 0;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }
}
