// #typewriter-strings {
//     font-size: 0;
// }

#typewriter {
    white-space: nowrap;
}

#typewriter-strings {
    opacity: 0;
}

// Set transparent initially and let typed.js set it to 1
// Otherwise there is a tiny flash before typed.js starts
#no-typewriter-strings {
    opacity: 0;
}

@include media-breakpoint-up(sm) {
    #typewriter {
        letter-spacing: -1px;
    }
}

@include media-breakpoint-up(md) {
    #typewriter {
        letter-spacing: -2px;
    }
}

@include media-breakpoint-up(lg) {
    #typewriter {
        letter-spacing: -2.5px;
    }
}

// Styles copied from typed.js to avoid CSP errors
.typewriter {
    .typed-cursor {
        opacity: 1;

        // stylelint-disable-next-line selector-class-pattern
        &.typed-cursor--blink {
            animation: typedjs-blink 0.7s infinite;
        }
    }
}

@keyframes typedjs-blink {
    50% { opacity: 0; }
}
