//
// Appeal section styling
//

section#appeal {
    background-color: $gray-900;
    background-image: url("/assets/img/map-image.png");
    background-repeat: no-repeat;
    background-position: center;
    color: $white;

    .section-heading {
        font-family: $appeal-heading-font-family;
        line-height: 0;

        img {
            height: 5.75rem;
            width: 5.75rem;
            padding: 0 0.75rem 1.25rem 0.5rem;
            filter: invert(0.9);
            transform: rotate(-1deg);
        }

        span {
            height: 1.45rem;
        }

        $font-size: 1.5rem;
        $font-scale: 0.15rem;

        @for $i from 2 through 17 {
            :nth-child(#{$i}) {
                font-size: $font-size + ($font-scale * $i);
            }
        }
    }

    .row {
        max-width: 1200px;
        margin: auto;

        .col-lg-6 {
            max-width: 500px;
        }

        p {
            line-height: 1.75;
        }
    }

    a {
        font-weight: 700;
    }

    .appeal-methods {
        h5 {
            margin-bottom: 0.1rem;
        }
    }
}

@include media-breakpoint-down(lg) {
    section#appeal {
        .col-lg-6 {
            max-width: 600px;
        }

        .appeal-methods {
            hr {
                width: 33%;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}
