//
// Footer section styling
//

@mixin grow($scale) {
    transition: 0.25s ease-out;
    background: white;

    &:hover {
        transform: scale($scale, $scale);
    }
}

.footer {
    text-align: center;
    font-size: 1rem;
    font-family: $headings-font-family;

    .copyright {
        font-weight: 700;
        padding: 6px 0;
    }

    .license {
        display: inline-block;
        padding: 2px;

        &#cc > img {
            @include grow(1.07);

            width: 100px;
            height: 36px;
        }

        &#osi > img {
            @include grow(1.11);

            height: 40px;
            width: 40px;
        }
    }
}

@include media-breakpoint-up(lg) {
    .footer {
        .container {
            padding-left: 100px;
            padding-right: 100px;
        }
    }
}
