//
// Masthead section styling
//

header.masthead {
    padding-top: 6rem + 4.5rem;
    padding-bottom: 6rem;
    text-align: center;
    color: $heading-color;
    background-color: $gray-700;
    background-image: url("/assets/img/desktop.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;

    .masthead-subheading {
        font-family: $masthead-subheading-font-family;
        font-size: calc(90vw / 12);
        font-style: italic;
        line-height: 1.85rem;
        margin-bottom: 1.5rem;

        .typewriter {
            font-family: $masthead-typewriter-font-family;
            font-style: normal;
            display: inline-block;
            position: relative;
            text-align: left;

            strong {
                letter-spacing: 1px;
            }

            > div {
                position: absolute;
                top: 0;
                left: 0;
                text-align: left;

                .typed-cursor {
                    padding-left: 2px;
                }
            }
        }
    }

    .masthead-heading {
        font-size: 3.25rem;
        font-weight: 700;
        line-height: 3.25rem;
        margin-bottom: 0.75rem;

        img {
            width: 100%;
            aspect-ratio: 328/36;
        }
    }
}

@include media-breakpoint-up(sm) { //
    header.masthead {
        .masthead-subheading {
            font-size: 2.75rem;
            line-height: 2.25rem;
            margin-bottom: 2rem;
        }

        .masthead-heading {
            margin-bottom: 1rem;

            img {
                width: 32.25rem;
            }
        }
    }
}

@include media-breakpoint-up(md) {
    header.masthead {
        padding-top: 12.5rem + 4.5rem;
        padding-bottom: 12.5rem;

        .masthead-subheading {
            font-size: 3.5rem; // 2.25rem;
            line-height: 3rem; // 2.25rem;
            margin-bottom: 2.25rem;
        }

        .masthead-heading {
            font-size: 4.5rem;
            font-weight: 700;
            line-height: 4.5rem;
            margin-bottom: 1.5rem; // 4rem;

            img { //
                width: 43.75rem;
            }
        }
    }
}

@include media-breakpoint-up(lg) { //
    header.masthead {
        .masthead-subheading {
            font-size: 4.5rem;
            line-height: 4rem;
            margin-bottom: 4rem;
        }

        .masthead-heading {
            margin-bottom: 2rem;

            img {
                width: 58.5rem;
            }
        }
    }
}
