#motivation {
    #humane-computing {
        $section-background: #ebf4fa;

        background: $section-background;

        .humane-computing-text {
            max-width: $text-section-width;

            ul {
                > li {
                    &::before {
                        top: 4px;
                        background-image: url("/assets/icons/check-mark.svg");
                    }
                }
            }
        }

        .humane-computing-animation {
            text-transform: uppercase;
            position: relative;
            background: $section-background;
            text-align: center;
            padding-left: 0;
            padding-right: 0;
            overflow: hidden;

            .p-1.flex-grow-1 {
                background-color: $section-background;
                z-index: 10;
            }

            &__mid {
                width: 100%;
                background-color: #202020;

                .spotlight {
                    .spot {
                        will-change: transform;
                        position: absolute;
                        border-radius: 50%;
                        opacity: 0;

                        $spots: (#005ffe: 320px, #ffe5e3: 205px, #ffcc57: 110px);

                        @each $color, $size in $spots {
                            &.spot-#{index($spots, ($color $size))} {
                                background: $color;
                                width: $size;
                                height: $size;
                                margin: math.div(-$size, 2) 0 0 math.div(-$size, 2);
                            }
                        }
                    }
                }

                .content {
                    background: black;
                    mix-blend-mode: multiply;

                    > svg {
                        width: 100%;
                        height: 33.33%;
                    }
                }
            }

            &__top,
            &__bottom {
                font-family: Bitwise, sans-serif;
                background: #000;
                color: #10710c; // #5dff00;
                font-size: min(15vw, 4rem);
                z-index: 10;
                line-height: 0.7;
                padding-top: 0.7rem;
                padding-left: 2px;
                padding-right: 2px;
            }

            &__top {
                border-bottom: 0.05rem solid #000;
            }

            &__bottom {
                border-top: 0.15rem solid #000;
                letter-spacing: 0.1rem;
            }
        }
    }
}
