@use "sass:list";
@use "sass:math";

$text-section-width: 540px;

@import "./motivation-1";
@import "./motivation-2";
@import "./motivation-3";

#motivation {
    p {
        margin-bottom: 0.5rem;
        user-select: text;
        word-wrap: break-word;
        overflow-wrap: break-word;
    }

    ul {
        padding-left: 0.25rem;
        list-style: none;
        line-height: 1.4;

        > li {
            position: relative;
            padding-inline-start: 1.3rem;
            margin: 0.275rem 0;

            &::before {
                content: " ";
                position: absolute;
                top: 6px;
                left: 0;
                width: 1rem;
                height: 1rem;
                display: inline-block;
                background-position: center;
                background-repeat: no-repeat;
                background-size: 1rem 1rem;
            }
        }
    }
}
