#motivation {
    #secret {
        .secret-animation {
            svg {
                max-width: 485px;

                #software-sucks {
                    &__no-more {
                        fill: #e32636;
                    }

                    &__items {
                        // fill: #57109d99;
                        filter: blur(1.5px);
                        // text-shadow:
                        //     14px 0 3px #f8a988bf,
                        //     28px 0 3px #9be8edbf,
                        // ;
                        // tspan {
                        //     fill: #333;
                        // }
                    }
                }
            }
        }

        .secret-text {
            max-width: $text-section-width;

            ul {
                > li {
                    padding-left: 1.15rem;

                    &::before {
                        background-image: url("/assets/icons/X_mark.svg");
                        background-size: 0.9rem 1rem;
                    }
                }
            }
        }
    }
}
