#motivation {
    #mix-n-match {
        .mix-n-match {
            &__animation {
                color: $white;
                background-color: #f1404c; // match gif background

                &__left {
                    font-family: $navbar-font-family;
                    font-size: min(calc(10vw - 8px), 36px);
                    font-style: italic;
                    font-weight: 700;
                    font-stretch: semi-condensed;

                    &__top {
                        padding-left: 8px;
                    }

                    &__bottom {
                        height: 100%;
                    }
                }

                &__mix {
                    position: relative;
                    width: 100%;

                    picture {
                        position: absolute;
                        bottom: 0;

                        source, img {
                            width: min(calc(45vw - 16px), 182px);
                            aspect-ratio: 7/8;
                        }
                    }
                }

                &__n {
                    font-size: min(calc(37vw - 42.8px), 120px);
                    font-weight: 400;
                    height: 100%;
                    line-height: 1;
                    padding-bottom: 2.5rem;
                }

                &__match {
                    padding: 2px 0;
                    /* stylelint-disable-next-line no-descending-specificity */
                    source, img {
                        height: min(65vw - 34px, 252px);
                        aspect-ratio: 245/470;
                    }
                }
            }

            &__text {
                max-width: $text-section-width;

                ul {
                    > li {
                        padding-left: 1.65rem;

                        &::before {
                            top: -2px;
                            left: 0;
                            width: 1.35rem;
                            height: 1.35rem;
                            background-image: url("/assets/icons/liberty.svg");
                            background-size: 1.35rem 1.35rem;
                        }
                    }
                }
            }
        }
    }
}
