section#proposal {
    background-image:
        linear-gradient(
            -225deg,
            #231557 0%,
            #44107a 21%,
            /* 29%, */
            #ff1361 63%,
            /* 69%, */
            #fff800 100%,
        );
    color: #fff;
    font-family: $headings-font-family;
    animation: textclip 10s linear infinite;
    user-select: text;

    .headline {
        line-height: 1.65;
        vertical-align: middle;

        .syntropize {
            font-family: $navbar-font-family;
            font-weight: $headings-font-weight;
            color: $yellow;
        }

        .oe {
            font-weight: $headings-font-weight - 100;
            letter-spacing: -0.05rem;
            color: $white;
        }

        // .re {
        //     font-family: $masthead-subheading-font-family;
        // }

        // span.pc {
        //     font-family: bitwise;
        //     color: green;
        //     @include font-size($font-size-base * 1.65);
        // }

        code.ide {
            @include font-size($font-size-base * 1.5);

            color: #c7254e;
            background-color: #f9f2f4;
            letter-spacing: -0.04rem;
            border-radius: 4px;
            padding: 2px 4px;
        }

        span.ce {
            @include font-size($font-size-base * 1.85);

            font-family: $creative-font-family;
        }
    }
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

@include media-breakpoint-down(lg) {
    section#proposal {
        .headline {
            .syntropize {
                &::before {
                    content: "\A";
                    white-space: pre-wrap;
                }
            }

            .re {
                &::after {
                    content: "\A";
                    white-space: pre-wrap;
                }
            }
        }
    }
}
