//
// Timeline section styling
//

.timeline {
    position: relative;
    padding: 0;
    list-style: none;

    &::before {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 40px;
        width: 2px;
        margin-left: -1.5px;
        content: "";
        background-color: $gray-200;
    }

    > li {
        position: relative;
        min-height: 80px;
        margin-bottom: 50px;

        &::after,
        &::before {
            display: table;
            content: " ";
        }

        &::after {
            clear: both;
        }

        .timeline-panel {
            position: relative;
            float: right;
            width: 100%;
            padding: 0 20px 0 100px;
            text-align: left;

            &::before {
                right: auto;
                left: -15px;
                border-right-width: 15px;
                border-left-width: 0;
            }

            &::after {
                right: auto;
                left: -14px;
                border-right-width: 14px;
                border-left-width: 0;
            }

            .timeline-heading {
                h4 {
                    margin-top: 0;
                    margin-bottom: 0.2rem;
                    color: inherit;

                    &.subheading {
                        text-transform: none;
                    }
                }
            }

            .timeline-body {
                > ul, > p {
                    margin-bottom: 0;
                }
            }
        }

        .timeline-image {
            position: absolute;
            z-index: 100;
            left: 0;
            width: 80px;
            height: 80px;
            margin-left: 0;
            text-align: center;
            color: white;
            border: 8px solid $gray-200;
            border-radius: 100%;
            background-color: $primary;

            img {
                aspect-ratio: 1;
                height: 64px;
                width: 64px;
            }

            /* stylelint-disable-next-line no-descending-specificity */
            h4 {
                font-size: 11px; // 10px;
                line-height: 14px;
                margin-top: 12px;
            }

            a { //
                color: $white;
                text-decoration: none;
            }
        }

        &.timeline-inverted > .timeline-panel {
            float: right;
            padding: 0 20px 0 100px;
            text-align: left;

            &::before {
                right: auto;
                left: -15px;
                border-right-width: 15px;
                border-left-width: 0;
            }

            &::after {
                right: auto;
                left: -14px;
                border-right-width: 14px;
                border-left-width: 0;
            }
        }

        &:last-child {
            margin-bottom: 0;

            .timeline-panel {
                min-height: inherit;
            }
        }
    }
}

@include media-breakpoint-up(md) {
    .timeline {
        &::before {
            left: 50px;
        }

        > li {
            min-height: 100px;
            margin-bottom: 60px;

            .timeline-panel {
                padding: 0 20px 0 120px;
            }

            .timeline-image {
                width: 100px;
                height: 100px;

                img {
                    height: 84px;
                    width: 84px;
                }

                h4 {
                    font-size: 13px;
                    line-height: 18px;
                    margin-top: 16px;
                }
            }

            &.timeline-inverted > .timeline-panel {
                padding: 0 20px 0 120px;
            }
        }
    }
}

@include media-breakpoint-up(lg) {
    .timeline {
        &::before {
            left: 50%;
        }

        > li {
            min-height: 150px;

            .timeline-panel {
                float: left;
                width: 41%;
                padding: 0 20px 20px 30px;
                text-align: right;
                min-height: 272px;
            }

            .timeline-image {
                left: 50%;
                width: 150px;
                height: 150px;
                margin-left: -75px;

                img {
                    height: 134px;
                    width: 134px;
                }

                h4 {
                    font-size: 18px;
                    line-height: 26px;
                    margin-top: 30px;
                }
            }

            &.timeline-inverted > .timeline-panel {
                padding: 0 20px 20px;
                float: right;
                text-align: left;
            }
        }
    }
}

@include media-breakpoint-up(xl) {
    .timeline {
        > li {
            min-height: 170px;

            .timeline-panel {
                padding: 0 20px 20px 100px;
            }

            .timeline-image {
                width: 170px;
                height: 170px;
                margin-left: -85px;

                img {
                    height: 154px;
                    width: 154px;
                }

                h4 {
                    margin-top: 40px;
                }
            }

            &.timeline-inverted > .timeline-panel {
                padding: 0 100px 20px 20px;
            }
        }
    }
}


@include media-breakpoint-up(xxl) {
    .timeline {
        > li {
            min-height: 170px;

            .timeline-panel {
                padding: 0 20px 20px 170px;
            }

            &.timeline-inverted > .timeline-panel {
                padding: 0 170px 20px 20px;
            }
        }
    }
}
