-
    function toTitleCase(txt) {
        return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();
    };

// Appeal
section#appeal.page-section
    .container
        h2.section-heading.text-center.text-uppercase.d-flex.align-items-center.justify-content-center.pe-lg-2
            img(src='/assets/icons/megaphone.svg', alt='Shout Out')
            each char in 'A call to action'
                if char === ' '
                    | &nbsp;
                else
                    span= char
        .row.justify-content-center
            .appeal-message.col-lg-6.text-center.text-lg-start.pb-3.px-sm-5
                p.
                    Today, we find ourselves in a moment of history where
                    the design of new media is the most pressing problem facing humanity.
                    For our ability to solve every other complex, urgent problem depends on solving this,
                    #[strong the Mother of all Problems]!
                p.
                    Join us, as we challenge the established status-quo of #[span.no-br.lg-br personal computing]!
                p
                    strong Once more unto the virtual breach, Dear Friends!
            .appeal-methods.col-lg-6.text-center.text-lg-start.px-sm-5
                .h5 Learn More
                p At the Syntropize #[a.link-secondary(href='/docs/#/Synopsis/') Documentation] site
                hr
                .h5 See the Code
                p On our #[a.link-secondary(href='https://gitlab.com/syntropize/syntropize') Gitlab] Repository
                hr
                .h5 Download Syntropize
                p Get pre-built #[a.link-secondary(href='https://gitlab.com/syntropize/syntropize/-/releases') Binaries] for your OS
                hr
                .h5 Spread the Word
                p.my-0 Tell your friends about #[strong Syntropize]
                // AddToAny
                p
                    each mode in ['email', 'telegram', 'twitter', 'facebook']
                        a.btn.btn-social(class=`btn-social__${mode}`, href=`https://www.addtoany.com/add_to/${mode}?linkurl=syntropize.com&linkname=Syntropize`, target='_blank')
                            img(src=`https://static.addtoany.com/buttons/${mode}.svg`, alt=`Share on ${toTitleCase(mode)}`, rel='nofollow', height='36', width='36')
                    a.btn.btn-social.btn-social__add(href='https://www.addtoany.com/share#url=syntropize.com&title=Syntropize', target='_blank')
                        img(src='https://static.addtoany.com/buttons/a2a.svg', alt='Share on other platforms', rel='nofollow', height='36', width='36')
