// Features
- const featureImgSizes = '(min-width: 1200px) 154px, (min-width: 1000px) 134px, (min-width: 780px) 84px, 64px';

section#features.page-section
    .container
        //- .text-center
            h3.section-heading.text-uppercase.pb-4 Features
        ul.timeline
            li
                .timeline-image
                    img.rounded-circle.img-fluid(src='/assets/img/about/1.jpg', alt='Unified Workspace', sizes=featureImgSizes)
                .timeline-panel
                    .timeline-heading
                        h4 Unified Workspaces
                        h5.text-muted with Universal Access
                    .timeline-body
                        p.text-muted.pb-2.
                            Seamlessly interact with data and services from multiple sources in a unified&nbsp;workspace.
                        p.text-muted.pb-2.
                            All data sources, local or online, are treated at par.

            li.timeline-inverted
                .timeline-image
                    img.rounded-circle.img-fluid(src='/assets/img/about/2.jpg', alt='Views', sizes=featureImgSizes)
                .timeline-panel
                    .timeline-heading
                        h4 Dynamic Views
                        h5.text-muted not Apps
                    .timeline-body
                        p.text-muted.pb-2.
                            that mix-&-match tools and media to create rich hypermedia experiences
                            perfectly tuned to the content based on intent and context.
                        p.text-muted.pb-2.
            li
                .timeline-image
                    img.rounded-circle.img-fluid(src='/assets/img/about/3.jpg', alt='Frictionless Sharing', sizes=featureImgSizes)
                .timeline-panel
                    .timeline-heading
                        h4 Frictionless Sharing
                        h5.text-muted for Organic Growth
                    .timeline-body
                        p.text-muted.pb-2.
                            Share your work by simply copying it over to your online store.
                        p.text-muted.pb-2.
                            Build on the work of others by transcluding it in your own.
            li.timeline-inverted
                .timeline-image
                    a(href='/docs/#/Synopsis/')
                        img.rounded-circle.img-fluid(src='/assets/img/about/5.jpg', alt='More', sizes=featureImgSizes)
                .timeline-panel.d-flex.align-items-center.pb-0
                    a.timeline-heading(href='/docs/#/Synopsis/')
                        h4 And Much Much More...
