// Footer
footer.footer.py-4
    .container
        .row.align-items-center
            .copyright.col-lg-8.text-lg-start
                a(href='/NOTICE.txt', target='_blank') Copyright &copy; 2022
                | ,
                |
                a(href='//cxres.pages.dev', target='_blank') Rahul Gupta
            .licenses.col-lg-4.text-lg-end
                a#cc.license(href='/LICENSE.txt', target='_blank')
                    img(alt='Creative Commons Attribution-ShareAlike Licence 4.0', src='/assets/icons/by-sa.svg', height='36', width='100')
                a#osi.license(href='/LICENSE-code.txt', target='_blank')
                    img(alt='OSI Approved: Mozilla Public Licence v2.0', src='/assets/icons/osi_symbol.webp', height='40', width='40')
