// Masthead

- const brandSizes = '(min-width: 992px) 58.5rem, (min-width: 768px) 43.75rem, (min-width: 576px) 32.25rem, 22.5rem';

header.masthead
    .container
        .masthead-heading
            img(src='/assets/brand/name-min.svg', alt='Syntropize', sizes=brandSizes)
        .masthead-subheading &nbsp;Re-imagine&nbsp;
            .typewriter
                span#no-typewriter-strings
                    strong Computing!
                        span.d-none |
                div
                    span#typewriter-strings
                        span the Desktop
                        //- span the Home Screen
                        span the Browser
                        span Applications
                        span Computing!
                    span#typewriter
        a.btn.btn-secondary.btn-xl.text-uppercase(href='#motivation') Tell Me More
        a.btn.btn-secondary.btn-xl.text-uppercase(href='//gitlab.com/syntropize/syntropize/-/releases') Download
