#humane-computing.py-5
    .container
        .row.justify-content-center
            .humane-computing-animation.col-lg-6.order-lg-2.d-flex.flex-row.justify-content-center.mb-4.mb-lg-0
                .p-1.flex-grow-1
                .d-flex.flex-column.justify-content-center
                    .p-1.flex-grow-1
                    .humane-computing-animation__top.flex-shrink-0
                        | !! WANTED !!
                    .humane-computing-animation__mid.flex-shrink-0
                        .spotlight
                            .spot.spot-1
                            .spot.spot-2
                            .spot.spot-3
                        .content
                            include ../../../assets/img/humane.svg
                    .humane-computing-animation__bottom.flex-shrink-0
                        | COMPUTING
                    .p-1.flex-grow-1
                .p-1.flex-grow-1
            .humane-computing-text.text-section.col-lg-6.d-flex.align-items-center.m-auto
                div
                    p
                        | Personal Computers were originally invented as aids for our minds.
                        | To provide us with the right information, in the right form,
                        | at the right moment, so that we are able to:
                    ul
                        li learn faster
                        li make better decisions
                        li become more productive
                        li unleash our creativity
                    p
                        | The grand purpose of computers is to empower #[strong us]!
                        | To give #[strong us] powerful new ways
                        | to engage with complex, even unthinkable, ideas.
                        | A promise that remains largely
                        |
                        strong
                            a(href='#mix-n-match') unrealized&hellip;
