#secret.pb-5
    .container
        .row.justify-content-center
            .secret-animation.col-lg-6.d-flex.align-items-center.justify-content-center.mb-4.mb-lg-0
                include ../../../assets/img/glitch.svg
                include ../../../assets/img/software-sucks.svg

            .secret-text.text-section.col-lg-6.d-flex.align-items-center.m-auto
                div
                    p
                        span Let me let you in on a little secret.
                        |
                        |
                        span Computers don&rsquo;t have to be inconvenient.
                        |
                        |
                        span.no-br Or difficult.
                        |
                        |
                        span.no-br.lg-br Certainly not painful!
                    p
                        | Our computers run software that is fundamentally
                        |
                        span.no-br ill-conceived
                        | .
                        | Unnecessarily designed to emulate the physical world and embrace its constraints.
                        | Consider: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    ul
                        li apps operate as if they are isolated devices,
                        li hierarchical file storage replicates physical files,
                        li the command line mimics a teletype terminal,
                        li a word processor is nothing but paper under glass.
                    p.
                        These constructs are as arbitrary as they are limiting.
                        If you have ever played a computer game, then
                        deep down you already know this to be true.
                    p
                        | We deserve
                        |
                        strong
                            a(href='#humane-computing') better&hellip;
