#mix-n-match.pt-5
    .container
        .row.justify-content-center
            .col-lg-6.mb-4.mb-lg-0.d-flex.justify-content-center.align-items-center
                .mix-n-match__animation.d-inline-flex.flex-row
                    .mix-n-match__animation__left.d-flex.flex-column
                        .mix-n-match__animation__left__top.text-uppercase
                            | Freedom to
                        .mix-n-match__animation__left__bottom.d-flex.flex-row.align-items-stretch
                            .mix-n-match__animation__mix
                                picture
                                    source(srcset='/assets/img/mixer-mixing-hd.avif', type='image/avif', media='(prefers-reduced-motion: no-preference)')
                                    source(srcset='/assets/img/mixer-mixing-hd.png', type='image/png', media='(prefers-reduced-motion: reduce)')
                                    img(src='/assets/img/mixer-mixing-hd.png', decoding='async', loading='lazy', alt='mix')
                            .mix-n-match__animation__n.d-flex
                                .align-self-end &
                    .mix-n-match__animation__match
                        picture
                            source(srcset='/assets/img/match-perfect-3.webp', type='image/webp', media='(prefers-reduced-motion: no-preference)')
                            source(srcset='/assets/img/match-perfect-2.png', type='image/png', media='(prefers-reduced-motion: reduce)')
                            img(src='/assets/img/match-perfect-2.png', decoding='async', loading='lazy', alt='match')
            .col-lg-6.d-flex.align-items-center
                .mix-n-match__text.text-section.m-auto
                    p   Computers present us with an unprecedented opportunity to invent new media&hellip;
                    ul
                        li #[strong Free] from imagined traditions!
                        li #[strong Free] from technological constraints!
                        li That give us complete #[strong Freedom] to #[span.mm mix-&-match] ideas!
                        li And complete #[strong Freedom] to #[span.mm mix-&-match] tools we need to interact with these ideas!
                    p
                        | #[strong Freedoms] that are all but impossible with existing software.
                        | Nothing less than a complete redesign will do!
                    p
                        strong
                            a(href='#proposal') Presenting Syntropize&hellip;
