// Navigation
nav#main-nav.navbar.navbar-expand-lg.navbar-dark.fixed-top.navbar-shrink
    .container
        a.navbar-brand(href='#page-top')
            img(src='/assets/brand/name-min.svg', alt='Syntropize', height='24', width='219')
        button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #navbarResponsive.collapse.navbar-collapse
            ul.navbar-nav.text-uppercase.ms-auto.pt-3.py-lg-0
                //- li.nav-item
                //-     // use span.scroll-spy-cheat to navigate to bypass Bootstrap ScrollSpy
                //-     span.nav-link.scroll-spy-cheat(href='/docs/#/Synopsis/') Docs
                li.nav-item
                    a.nav-link(href='#motivation') Motivation
                li.nav-item
                    a.nav-link(href='#proposal') Proposal
                li.nav-item
                    a.nav-link(href='#features') Features
                li.nav-item
                    a.nav-link(href='#appeal') Appeal
