// Proposal
section#proposal.page-section
    .container
        .text-center
            //- h3.section-heading.text-uppercase A Modest Proposal
            .headline.fs-3
                span The
                |
                |
                span.syntropize Syntropize
                    |
                    |
                    span.oe.no-br Operating Environment
                br
                |
                span.re.no-br re-imagines
                |
                |
                span the
                |
                |
                strong.pc.no-br Personal Computer
                |
                |
                span.no-br as an
                |
                |
                code.ide.no-br.mx-1 Integrated Environment
                |
                |
                span.no-br for your
                |
                |
                span.ce.no-br.ps-1 Creative Expression
