//
// Global theme styling
//

// Scroll padding for all scroll targets on page used with
// native CSS smooth scrolling
//
// https://caniuse.com/?search=scroll-padding

html {
    scroll-padding-top: 6rem;
}

body {
    position: relative;
    overflow-x: hidden;
    user-select: none;
}

p, p ~ ul {
    font-family: $font-family-body-text;
    font-style: italic;
    letter-spacing: -0.009rem;
}

a {
    &:hover {
        text-decoration: underline;
    }

    &.btn {
        text-decoration: none;
    }
}

// Spacing and heading styling for page sections

.page-section {
    padding: 3rem 0; // 6rem 0;
    scroll-margin-top: -48px; //

    h2.section-heading {
        font-size: 2.5rem;
        margin-top: 0;
        margin-bottom: 1rem;
    }

    h3.section-subheading {
        font-size: 1rem;
        font-weight: 400;
        font-style: italic;
        font-family: $subheadings-font-family;
        margin-bottom: 4rem;
    }

    code {
        padding: 2px 4px;
        font-size: 90%;
        color: $code-color;
        background-color: $code-background-color;
        border-radius: 4px;
        letter-spacing: -0.02rem;
    }

    .no-br {
        white-space: nowrap;
    }

    .smallcaps {
        font-variant: small-caps;
    }

    .mm {
        white-space: nowrap;
        background: #f7f17b;
        color: $primary;
        padding: 0 4px;
        border-radius: 8px;
    }
}


// Increase the padding on sections when screen size is greater
// than the medium breakpoint (set by Bootstrap)

@include media-breakpoint-up(md) {
    section {
        padding: 5rem 0; // 9rem 0;
    }
}

@include media-breakpoint-up(lg) {
    .lg-br {
        white-space: normal;
    }
}
