@use "npm:@fontsource/kaushan-script/scss/mixins" as KS;
@use "npm:@fontsource/montserrat/scss/mixins" as M;
@use "npm:@fontsource/exo-2/scss/mixins" as E2;
@use "npm:@fontsource/roboto-condensed/scss/mixins" as RC;
@use "npm:@fontsource/fredericka-the-great/scss/mixins" as FTG;
@use "npm:@fontsource/amatic-sc/scss/mixins" as AS;

KS.$fontDir: "npm:@fontsource/#{KS.$fontId}/files";
M.$fontDir: "npm:@fontsource/#{M.$fontId}/files";
E2.$fontDir: "npm:@fontsource/#{E2.$fontId}/files";
RC.$fontDir: "npm:@fontsource/#{RC.$fontId}/files";
KS.$fontDir: "npm:@fontsource/#{KS.$fontId}/files";
FTG.$fontDir: "npm:@fontsource/#{FTG.$fontId}/files";
AS.$fontDir: "npm:@fontsource/#{AS.$fontId}/files";

// stylelint-disable-next-line scss/operator-no-unspaced
$unicode-latin-text: U+20-7F;
// stylelint-disable-next-line scss/operator-no-unspaced
$unicode-latin-caps: U+41-5A, U+20;

@include KS.fontFaceCustom(
    $unicodeRange: true,
    $unicodeRangeValues: $unicode-latin-text,
);
@include M.fontFaceVariableCustom(
    $fontName: Montserrat,
    $weight: 400 800,
    $unicodeRange: true,
    $unicodeRangeValues: $unicode-latin-text,
);
@include M.fontFaceVariableCustom(
    $fontName: Montserrat,
    $weight: 400 800,
    $style: italic,
    $unicodeRange: true,
    $unicodeRangeValues: $unicode-latin-text,
);
@include E2.fontFaceVariableCustom(
    $fontName: Exo,
    $weight: 400 800,
    $unicodeRange: true,
    $unicodeRangeValues: $unicode-latin-text,
);
@include E2.fontFaceVariableCustom(
    $fontName: Exo Italic,
    $style: italic,
    $weight: 400 800,
    $unicodeRange: true,
    $unicodeRangeValues: $unicode-latin-text,
);
@include RC.fontFaceCustom(
    $weight: 700,
    $style: italic,
    $unicodeRange: true,
    $unicodeRangeValues: $unicode-latin-caps,
);
@include FTG.fontFaceCustom(
    $unicodeRange: true,
    $unicodeRangeValues: $unicode-latin-text,
);
@include AS.fontFaceCustom(
    $unicodeRange: true,
    $unicodeRangeValues: $unicode-latin-caps,
);


@font-face {
    font-family: Bitwise;
    font-style: normal;
    display: swap;
    font-weight: 400;
    src: local("Bitwise"), url("/assets/fonts/bitwise.ttf") format("truetype");
}

@font-face {
    font-family: "Veteran Typewriter";
    font-style: normal;
    display: swap;
    font-weight: 400;
    src: local("Veteran Typewriter"), url("/assets/fonts/veteran_typewriter.ttf") format("truetype");
}

@font-face {
    font-family: Bushcraft;
    font-weight: 700;
    font-display: swap;
    unicode-range: U+FD-4F, U+45, U+52;
    src: url("/assets/fonts/bushcraft_distress.otf") format("opentype");
    // stylelint-disable-next-line property-no-unknown
    -subfont-text: "MONRE";
}
