//
// Styles
//
@use "sass:list";
@use "sass:map";

// Import Bootstrap Functions
@import "npm:bootstrap/scss/functions";


// Colors

// Override Bootstrap state colors variables
$primary: #0057b7; // #6f42c1; //#59434D;
$secondary: #ffd500;

// Override Bootstrap contrast ratio
$min-contrast-ratio: 1.45;

// Define code object for tag line
$code-color: #c7254e;
$code-background-color: #f9f2f4;


// Fonts

// Override Bootstrap default font variables
$font-size-base: 1.1rem;
$font-weight-base: 450;
$line-height-base: 1.5;

// Override Bootstrap default headings variables
$headings-font-weight: 700;
$headings-letter-spacing: 0.0625em;

// Import Bootstrap Variables
@import "npm:bootstrap/scss/variables";

// Override default link
$link-decoration: none;

// $link-hover-color: $link-color;

// Default colors for components
$heading-color: $white;
$navbar-color: $primary;

// Default font-families
$font-family-body-text: list.join("Exo Italic", $font-family-sans-serif);
$headings-font-family: list.join("Exo", $font-family-sans-serif);
$subheadings-font-family: $headings-font-family;

// Masthead font family
$masthead-typewriter-font-family: list.join("Veteran Typewriter", $font-family-sans-serif);
$masthead-subheading-font-family: list.join(("Kaushan Script", cursive), $font-family-sans-serif);

// Navbar font family
$navbar-font-family: list.join("Montserrat", $font-family-sans-serif);
$navbar-font-weight: $headings-font-weight;

// Creative text font family
$creative-font-family: list.join(("Fredericka the Great", cursive), $font-family-sans-serif);

// Appeal section font family
$appeal-heading-font-family: list.join("Amatic SC", $font-family-sans-serif);

// Button font family
$button-font-family: list.join("Montserrat", $font-family-sans-serif);
$button-font-weight: $headings-font-weight;

// Import mandatory Bootstrap components
// @import "npm:bootstrap/scss/maps";
@import "npm:bootstrap/scss/mixins";
@import "npm:bootstrap/scss/root";

// Remove unused colors themes
$theme-colors: map.remove(
    $theme-colors,
    "success",
    "danger",
    "warning",
    "info",
    "light",
    "dark",
);

// Remove unused colors themes
$colors: map.remove(
    $colors,
    "blue",
    "indigo",
    "purple",
    "pink",
    "red",
    "orange",
    "yellow",
    "green",
    "teal",
    "cyan",
    "black",
);

// Import optional Bootstrap components
@import "npm:bootstrap/scss/utilities";
@import "npm:bootstrap/scss/reboot";
@import "npm:bootstrap/scss/type";
@import "npm:bootstrap/scss/images";
@import "npm:bootstrap/scss/containers";
@import "npm:bootstrap/scss/grid";
@import "npm:bootstrap/scss/buttons";
@import "npm:bootstrap/scss/transitions";
@import "npm:bootstrap/scss/nav";
@import "npm:bootstrap/scss/navbar";
@import "npm:bootstrap/scss/helpers";
@import "npm:bootstrap/scss/utilities/api";

// Global CSS
@import "./global";

// Components
@import "./components/button";
@import "./components/button-social";
@import "./components/navbar";
@import "./components/typewriter";
@import "./components/glitch";

// Sections
@import "./sections/masthead";
@import "./sections/motivation";
@import "./sections/proposal";
@import "./sections/timeline";
@import "./sections/appeal";
@import "./sections/footer";
